<?xml version="1.0" encoding="UTF-8" ?><ResourceDetails><ServerName>test</ServerName><LauncherName>RDE SystemsConfig</LauncherName><ExternalBrowser></ExternalBrowser><UseStartPage>false</UseStartPage><StartPage useextension="false" ></StartPage><Mappings></Mappings><VariableMappings><VariableName>Authentification</VariableName><MappedTo>RDE Systems</MappedTo></VariableMappings><DictionaryVersion>ColdFusion2018</DictionaryVersion><CFCMappings></CFCMappings></ResourceDetails>